  body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f8f8;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      background-color: #eeeeee;
      width: 300px;
      padding: 20px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      border-radius: 8px;
      text-align: center;
    }

    .card img {
      width: 100%;
      border-radius: 6px;
    }

    .card h1 {
      font-size: 26px;
      margin: 15px 0 10px;
    }

    .card p {
      font-size: 16px;
      margin: 8px 0;
    }

    .card button {
      margin-top: 15px;
      padding: 12px 24px;
      background-color: #f26860;
      color: white;
      border: none;
      border-radius: 12px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .card button:hover {
      background-color: #e1574f;
    }